{% extends "layout.html" %}
{% block title %}Lisää fraasi asiakirjapohjaan{% endblock %}
{% block content %}
{% if session.user_id %}
<h2>{{ docuname }}</h2>
<p>Lisää fraasi asiakirjapohjaan:</p>
<hr>
<form action="/add_phrase" method="post">
{% for phrase in phrases %}
<input type="radio" name="add" value="{{ phrase[0] }}"> {{ phrase[1] }} <br>
{% endfor %}
<p>
<input type="submit" value="Lisää">
<input type="hidden" name="id" value="{{ id }}">
</form>
<hr>
{% endif %}
<p><a href="/">Takaisin etusivulle</a></p>
{% endblock %}
