<h1>Asiakirjapohjasovellus</h1>
<hr>
{% if session.user_id %}
{% for document in documents %}
Asiakirjapohjan nimi: {{ document[1] }}
<br>
<a href="/add_phrase/{{ document[0] }}">Muokkaa asiakirjapohjaa</a> |
<a href="/show_document/{{ document[0] }}">Näytä asiakirjapohja</a>
<br>
<hr>
{% endfor %}

<hr>
<p>Olet kirjautunut sisään. </p>
<p><a href="/new_phrase">Luo fraasi</a></p>
<p><a href="/new_document">Luo asiakirjapohja</a></p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
