{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Etusivu</h2>
<hr>
{% if session.user_id %}
<p>Olet kirjautunut sisään.</p>
<p>Luo fraasi -sivulla voit lisätä uuden fraasin tietokantaan.</p>
<p>Tallennetut fraasit -sivulla voit tarkistaa kaikki tietokannassa olevat fraasit, jotka on luotu Luo fraasi -sivun kautta.</p>
<p>Luo tyhjä asiakirjapohja -sivulla voit luoda uuden tyhjän asiakirjapohjan, johon voit luomisen jälkeen lisätä tallennettuja fraaseja Asiakirjapohjan muokkaus -sivun kautta.</p>
<p>Asiakirjapohjien muokkaus -sivulla voit katsella ja muokata luotuja asiakirjapohjia ja lisätä niihin luotuja fraaseja. Tällä sivulla voit muokata ja tulostaa lopullisen asiakirjapohjan.</p>
<form action="/logout">
<br>
<input type="submit" value="Kirjaudu ulos">
</form>
{% else %}
<form action="/login">
<br>
<input type="submit" value="Kirjaudu sisään">
</form>
{% endif %}
{% endblock %}