{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Etusivu</h2>
<hr>
{% if session.user_id %}
<p>Olet kirjautunut sisään.</p>
<p>Luo fraasi -sivulla käyttäjä voi lisätä uuden fraasin tietokantaan.</p>
<p>Tallennetut fraasit -sivulla käyttäjä voi tarkistaa kaikki tietokannassa olevat Luo fraasi -sivulla luodut fraasit.</p>
<p>Luo tyhjä asiakirjapohja -sivulla käyttäjä voi luoda uuden tyhjän asiakirjapohjan, johon voi tämän jälkeen lisätä Luo fraasu-kohdassa luotuja fraaseja Asiakirjapohjan muokkaus -sivun kautta.</p>
<p>Asiakirjapohjien muokkaus -sivulla käyttäjä voi katsella ja muokata luotuja asiakirjapohjia ja lisätä niihin Luo fraasi -sivulla luotuja fraaseja. Tuloksena käyttäjä muodostaa lopullisen asiakirjapohjan, jonka voi lopullisessa sovelluksessa tulostaa .doc-muodossa(kehitteillä).</p>
<p><a href="/logout">Kirjaudu ulos</a></p>
{% else %}
<p><a href="/login">Kirjaudu sisään</a></p>
{% endif %}
{% endblock %}