<!doctype html>
<link rel="stylesheet" type"text/css" href="{{ url_for('static', filename='main.css')}}">
<meta name='viewport' content='width=device-width, initial-scale=1'>

<body>
    <title>Asiakirjapohjasovellus - {% block title %}{% endblock %}</title>
    <div class="header">
        <h1>Asiakirjapohjasovellus</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Etusivu</a></li>
            {% if session.user_id %}
            <li><a href="/new_phrase">Luo fraasi</a></li>
            <li><a href="/show_phrase_list">Tallennetut fraasit</a></li>
            <li><a href="/new_document">Luo tyhjä asiakirjapohja</a></li>
            <li><a href="/show_document_list">Asiakirjapohjien muokkaus</a></li>
            {% endif %}
            <li><a href="/login">Kirjautuminen</a></li>
        </ul>
    </nav>
    <div class="content">
      {% block content %}    
      {% endblock %}
    </div>

