<form action="/send" method="post" onsubmit="return check(this)">
<hr>
Fraasien määrä: {{ count }}
<hr>
{% for phrase in phrases %}
<i>Fraasi:</i> {{ phrase[0] }}
<p>
<hr>
{% endfor %}
<hr>
Fraasi: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<br>
<input type="submit" value="Luo fraasi">
</form>
<a href="/">Takaisin</a>

<script>
    function check(form) {
        if (form.content.value.length > 5000) {
            alert("Fraasin luonti ei onnistunut, sillä se on liian pitkä. Fraasin enimmäispituus on 5000 merkkiä.");
            return false;
        }
        return true;
    }
</script>
