{% extends "layout.html" %}
{% block title %}Luo fraasi{% endblock %}
{% block content %}
{% if session.user_id %}
<h2>Luo fraasi</h2>
<hr>
<form action="/new_phrase" method="post" onsubmit="return check(this)">
Fraasi: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<br>
<input type="submit" value="Luo fraasi">
</form>
<p><a href="/show_phrase_list">Näytä fraasit</a></p>
{% endif %}
<a href="/">Takaisin etusivulle</a>
{% endblock %}

<script>
    function check(form) {
        if (form.content.value.length > 5000) {
            alert("Fraasin luonti ei onnistunut, sillä se on liian pitkä. Fraasin enimmäispituus on 5000 merkkiä.");
            return false;
        }
        alert("Fraasi on luotu");
        return true;
    }
</script>