<h1>Luo fraasi</h1>
<hr>
<form action="/new_phrase" method="post" onsubmit="return check(this)">
Fraasi: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<br>
<input type="submit" value="Luo fraasi">
</form>
<a href="/">Takaisin etusivulle</a>

<script>
    function check(form) {
        if (form.content.value.length > 5000) {
            alert("Fraasin luonti ei onnistunut, sillä se on liian pitkä. Fraasin enimmäispituus on 5000 merkkiä.");
            return false;
        }
        return true;
    }
</script>