{% extends "layout.html" %}
{% block title %}Tallennetut asiakirjapohjat{% endblock %}
{% block content %}
<h2>Asiakirjapohjien muokkaus</h2>
<hr>
{% if session.user_id %}
{% for document in documents %}
<b>{{ document[1] }}</b>
<p></p>
<form action="/add_phrase/{{ document[0] }}">
<br>
<input type="submit" value="Lisää fraasi asiakirjapohjaan">
</form>
<form action="/show_document/{{ document[0] }}">
<br>
<input type="submit" value="Näytä / tulosta asiakirjapohja">
</form>
<hr>
{% endfor %}
{% endif %}
{% endblock %}